
@model AKS.Common.Models.TopicView
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    <ul class="nav nav-tabs">
        @foreach (var element in Model.CollectionElements)
        {
            string isActiveTab = "";
            if (element.CollectionElementId == Guid.NewGuid())
            {
                isActiveTab = "active";
            }

            string isDropDown = "";
            if (element.ElementTopics.Any())
            {
                isDropDown = "dropdown";
            }
        <li class="nav-item @isDropDown">
            @if (string.IsNullOrWhiteSpace(isDropDown))
            {
                <a class="nav-link @isActiveTab" href="#">@element.Name</a>
            }
            else
            {
                <a class="nav-link dropdown-toggle @isActiveTab" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@element.Name</a>
            }
            <div class="dropdown-menu">
                @foreach (var topic in element.ElementTopics)
                {
                    <a class="dropdown-item" href="#">@topic.Topic.Title</a>
                }

            </div>
        </li>
            
            
        }
    </ul>