@page "/edit/topic/{projectId:guid}/{topicId:guid}"
@using AKS.Builder.Pages
@inherits TopicModel
@using Resurgam.AppCore.Lookups

@if (Topic == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @*<partial name="Partials/CategoryTree" model="Model.CategoryTree" />*@

    <h2 bind="@Topic.TopicName"></h2>

    <fieldset>
        <div class="row">
            <div class="col-sm-4'">
                <div class="form-group">
                    <label for="topic-title">Topic Name</label>
                    <input type="text" id="topic-title" size="50" bind="@Topic.TopicName" />
                </div>
                <div class="form-group">
                    <label for="topic-desc">Topic Description</label>
                    <input type="text" id="topic-desc" size="50" bind="@Topic.TopicDescription" />
                </div>
            </div>
            <div class="col-sm-4'"></div>
        </div>
    </fieldset>

    switch (Topic.TopicTypeID)
    {
        case 1: //Content

            //            <textarea type="text" id="contentEdit" bind="@Topic.TopicContent"></textarea>

            <CKEditorControl ref="@TopicContentEditor" EditorContent="@Topic.TopicContent"></CKEditorControl>
            break;
        case 2: //Collection
            <CollectionTopicEditor Topic="@Topic" />
            break;
        case 3: //Document
            <DocumentTopicEditor Topic="@Topic" />
            break;
        case 4: //Fragment
            <CKEditorControl ref="@TopicContentEditor" EditorContent="@Topic.TopicContent"></CKEditorControl>
            break;
    }

    <button onclick="@Save">Save</button>
    <button onclick="@Cancel">Cancel</button>

    @*<div style="border: 1px solid blue">
            <b>Tags</b>Betha
            <div>
                @foreach (var tag in Topic.Tags)
                {
                <div>@tag.TagName</div>
                }
            </div>
        </div>
        <div style="border: 1px solid blue">
            <b>Related Topics</b>
            @foreach (var rt in Topic.RelatedTopics)
            {
            var topicLink = $"/topic/{rt.ProjectId}/{rt.TopicId}";
            <div>
                <a href="@topicLink">@rt.TopicName</a>
            </div>
            }
        </div>*@
}
