@page "/topic/{projectId:guid}/{topicId:guid}/edit"
@page "/topic/{projectId:guid}/new"
@inherits AKS.App.Core.TopicEditBase
@using AKS.App.Core.Components
@using AKS.Common.Enums

@if (Topic == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div role="group" class="container appcontent">
        <div role="group" class="row nav-content">
            <ProjectHeader />
        </div>
        <div role="group" class="row">
            <div role="group" id="tocView" class="@AppState.TocCollapsedClass toc col-lg-3">
                <TableOfContents />
            </div>
            <div id="topicContent" role="document" class="col @AppState.TocContentClass">
                <div>
                    <button type="button" class="btn btn-outline-primary btn-sm float-right mt-2" title="Edit Topic" @onclick="DeleteTopic"><i class="icon-trash left"></i></button>
                    <h2 clase="my-2">@Topic.Title</h2>
                </div>

                <TabSet>
                    <TabPage Text="Meta">
                        <EditForm Model="@Topic" OnValidSubmit="@Save" autocomplete="off">
                            <DataAnnotationsValidator />
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <ValidatedInputText id="topicName" @bind-Value="Topic.Title" class="form-control" LabelText="Title" />
                                </div>
                                <div class="form-group col-md-4" />

                                <div class="form-group col-md-4">
                                    <label for="topicType">Status</label>
                                    <InputSelect id="topicType" @bind-Value="Topic.TopicType" class="form-control">
                                        <option value="@TopicType.Content">Content</option>
                                        <option value="@TopicType.Collection">Collection</option>
                                        <option value="@TopicType.Document">Document</option>
                                        <option value="@TopicType.Fragment">Fragment</option>

                                    </InputSelect>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <ValidatedInputTextArea id="topicDescription" @bind-Value="Topic.Description" class="form-control" LabelText="Description" rows="4" />
                                </div>
                                <div class="form-group col-md-4" />

                                <div class="form-group col-md-4">
                                    <label for="topicStatus">Status</label>
                                    <InputSelect id="topicStatus" @bind-Value="Topic.TopicStatus" class="form-control">
                                        <option value="@TopicStatus.New">New</option>
                                        <option value="@TopicStatus.Edited">Edited</option>
                                        <option value="@TopicStatus.ReadyForReview">Ready For Review</option>
                                        <option value="@TopicStatus.ReadyToPublish">Ready To Publish</option>
                                        <option value="@TopicStatus.Published">Published</option>
                                    </InputSelect>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="reset" @onclick="Cancel" class="btn btn-secondary">Cancel</button>
                        </EditForm>
                    </TabPage>
                    <TabPage Text="Content">
                        <div>
                            <TopicEditDetail Topic="@Topic" />
                        </div>
                    </TabPage>
                </TabSet>


                @*<div class="tags">
            <TopicTags Topic="Topic" />
        </div>
        <hr>
        <div>
            <TopicDetail Topic="Topic" />
        </div>
        <aside class="row justify-content-between">
            <div class="relatedTopics col-lg-6 col-md-12">
                <RelatedTopics Topic="Topic" />
            </div>
            <div class="commentsRating col-lg-5 col-md-12">
                <TopicRatings Topic="Topic" />
                <TopicComments Topic="Topic" />
            </div>
        </aside>
                *@
            </div>
        </div>
    </div>
}