@inherits CollectionTopicEditorModel

<TabSet>
    @foreach (var element in Topic.CollectionElements)
    {
        <Tab Title="@element.CollectionElementName">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td>Topic Name</td>
                        <td>Topic Description</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var topic in element.Topics)
                    {
                        <tr>
                            <td><button onclick="@(() => RemoveTopic(element, topic))">Delete</button></td>
                            <td><a href='@($"/edit/topic/{topic.ProjectId}/{topic.TopicId}")'>@topic.TopicName </a></td>
                            <td>@topic.TopicDescription</td>
                        </tr>
                    }
                </tbody>
            </table>
        </Tab>
    }
</TabSet>
