@inherits CollectionTopicEditorModel

<TabSet>
    @foreach (var element in Topic.CollectionElements)
    {
        <Tab Title="@element.CollectionElementName">
            <table class="table">
                <thead>
                    <tr>
                        <td><button onclick="@(() => AddTopic(element))">Add</button></td>
                        <td>Topic Name</td>
                        <td>Topic Description</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var topic in element.Topics)
                    {
                        <tr>
                            <td><button onclick="@(() => RemoveTopic(element, topic))">Delete</button></td>
                            <td><a href='@($"/edit/topic/{topic.ProjectId}/{topic.TopicId}")'>@topic.TopicName </a></td>
                            <td>@topic.TopicDescription</td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (IsAddingTopics)
            {
                <div class="modal" tabindex="-1" style="display:block" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Add Topic</h3>
                                <button type="button" class="close" onclick="@CloseModal">
                                    <span aria-hidden="true">X</span>
                                </button>
                            </div>
                            <TopicSearch ProjectId="@Topic.ProjectId" ShowSearch="true" ShowTopicSelected="true" DoSomethingAction="@AddTopicToElement" />
                        </div>
                    </div>
                </div>
            }
        </Tab>
    }
</TabSet>


