@inherits TopicSearchModel

@if (ShowSearch)
{
    <div>
        <input type="text" bind="@SearchString" />
        <button onclick="@Search">Search</button>
    </div>
}

@if (Topics == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @if (ShowTopicSelected)
                {
                    <td></td>
                }
                <td>Name</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var topic in Topics)
            {
                <tr>
                    @if (ShowTopicSelected)
                    {
                        <td><input type="checkbox" bind="@topic.IsSelected" /> </td>
                    }
                    <td><a href="@($"edit/topic/{topic.ProjectId}/{topic.TopicID}")">@topic.TopicName</a> </td>
                    <td>@topic.TopicDesription</td>
                </tr>
            }
        </tbody>
    </table>
}
@if (DoSomethingAction != null)
{
    <div>
        <button onclick="@DoSomething">Add</button>
    </div>
}