@model AKS.Common.Models.CollectionElement

<div style="border: 1px solid blue">
    @Html.HiddenFor(x => x.ProjectId)
    @Html.HiddenFor(x => x.CollectionElementId)
    @Html.EditorFor(x => x.Name)

    @foreach(var t in Model.ElementTopics)
    {
    <div>
        @Html.RouteLink(t.Title, "topic", new { projectId = t.ProjectId, topicId = t.TopicId} )
    </div>
    }
    @Html.EditorFor(x=> x.ElementTopics)
</div>