@model AKS.Infrastructure.ViewModels.CollectionElementViewModel

<div style="border: 1px solid blue">
    @Html.HiddenFor(x => x.ProjectId)
    @Html.HiddenFor(x => x.CollectionElementId)
    @Html.EditorFor(x => x.CollectionElementName)

    @foreach(var t in Model.Topics)
    {
    <div>
        @Html.RouteLink(t.TopicName, "topic", new { projectId = t.ProjectId, topicId = t.TopicId} )
    </div>
    }
    @Html.EditorFor(x=> x.Topics)
</div>